<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="./styles/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1>Jackblack</h1>
    <% if (content) { %>
    <div class="cards-container">
      <% content.forEach(card => { %>
      <div class="card">
        <img
          src="<%= card.image %>"
          alt="<%= card.value %> of <%= card.suit %>"
        />
        <p><%= card.value %> of <%= card.suit %></p>
      </div>
      <% }); %>
    </div>
    <% } %> <% if (content) { %>
    <p class="error"><%= content %></p>
    <% } %>

    <form method="POST" action="/play">
      <button type="submit" class="play-button">Play</button>
    </form>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="js\index.js" charset="utf-8"></script>
</html>
